# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.venv/
env/

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/
.coverage
htmlcov/